:root {
    --left-colour: rgb(15, 15, 15);
    --middle-colour: rgb(10, 10, 10);
    --right-colour: rgb(15, 15, 15);
    --border-colour: rgb(25, 25, 25);
    --hover-colour: rgb(200, 200, 200);
}

body {
    margin: 0;
    height: 100dvh;
}

.container {
    background-color: green;
    display: flex;
    height: 100%;
}

.container > div {
    flex: 1;
}

#middle {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#middle > * {
    flex: 1;
    min-height: 0;
    overflow: hidden;
}

.middle-top-container, .middle-bottom-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    box-sizing: border-box;
}

.middle-top-container {
    margin-top: 5%;
}

.middle-bottom-container {
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 5%;
}

.middle-middle-container {
    color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    flex-shrink: 3;
}

h1 {
    text-align: center;
}

.middle-bg {
    background-color: var(--middle-colour);
}

#left {
    background-color: var(--left-colour);
    background-position: center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 87% 36%, 85% 73%, 78% 100%, 0 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

#left::before {
    background-color: var(--border-colour);
    position: absolute;
    content: "";
    width: 98%;
    height: 100%;
    z-index: 1;
    clip-path: polygon(
        100% 0, 99.5% 0,
        86.5% 36%, 84.5% 73%,
        77.5% 100%, 78% 100%,
        85% 73%, 87% 36%
    );   
}

#left::after {
    background-color: black;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    clip-path: polygon(
        100% 0, 98% 0,
        85% 36%, 83% 73%,
        76% 100%, 78% 100%,
        85% 73%, 87% 36%
    );
}

.left-bg-transition {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    background-color: var(--left-colour);
    transition: opacity 0.4s;
}

.left-bg-transition.active {
    opacity: 0;
}

.right-bg-transition {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    background-color: var(--right-colour);
    opacity: 1;
    transition: opacity 0.4s;
}

.right-bg-transition.active {
    opacity: 0
}

#right {
    background-color: var(--right-colour);
    background-position: center;
    background-size: cover;
    clip-path: polygon(12% 61%, 9% 24%, 14% 0, 100% 0, 100% 100%, 4% 100%);
    display: flex;
    flex-direction: column;
    position: relative;
}

#right::before {
    background-color: var(--border-colour);
    position: absolute;
    content: "";
    width: 98%;
    right: 0;
    height: 100%;
    z-index: 1;
    clip-path: polygon(14.5% 0, 14% 0, 9% 24%, 12% 61%, 4% 100%, 4.5% 100%, 12.5% 61%, 9.5% 24%);
}

#right::after {
    background-color: black;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    clip-path: polygon(16% 0, 14% 0, 9% 24%, 12% 61%, 4% 100%, 6% 100%, 14% 61%, 11% 24%);
}

.games-container {
    box-sizing: border-box;
    margin-left: 15%;
    flex: 2.5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.fav-games-container {
    box-sizing: border-box;
    margin: 0 3% 3% 15%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#social-media {
    margin-left: 20px;
}

#games {
    margin-right: 20px;
}

.text-block {
    background-color: rgb(20, 20, 20);
    border-radius: 6px;
    padding: min(12px, 0.6rem);
    margin: 2%;
    border: 2px solid var(--border-colour);
    max-width: 100%;
    max-height: 100%;
    color: lightgrey;
    font-size: 1.2rem;
    overflow: hidden;
    box-sizing: border-box;
}

.link-list {
    background-color: rgb(20, 20, 20);
    padding: min(12px, 0.6rem);
    border-radius: 6px;
    border: 2px solid var(--border-colour);
    max-height: 90%;
    max-width: 200px;
    min-width: 0;
    display: flex;
    flex-direction: column;
}

.link-list-container {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: none;
    min-height: 0;
    gap: 0.8rem;
}

.link-list-container > li {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.list-a {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    text-decoration: none;
    color: lightgrey;
    transition: color 0.2s;
}

.list-a:hover {
    color: var(--hover-colour);
}

.link-text {
    flex: 1;
    font-size: 1.4rem;
}

#right .link-text {
    text-align: right;
}

.link-img {
    flex-shrink: 0;
    max-width: 100%;
    height: 1.5rem;
    object-fit: cover;
}

.scroll-fade {
    mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
}

@media (max-width: 700px) {
    body, .container {
        height: auto;
        min-height: 100dvh;
    }

    .scroll-fade {
        mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    }

    .games-container {
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    #games, #social-media {
        max-width: 90%;
        margin: 2%;
    }

    .link-list {
        max-width: 90%;
    }

    .link-list-container {
        flex-direction: row;
        overflow-x: scroll;
    }

    .container {
        flex-direction: column;
    }

    #middle {
        overflow: visible;
    }

    h1 {
        font-size: 3rem;
    }

    #left {
        clip-path: polygon(100% 0%, 100% 100%, 70% 90%, 30% 95%, 0% 90%, 0% 0%);
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 12%;
    }

    #left::before {
        width: 100%;
        height: 100%;
        clip-path: polygon(100% 99%, 100% 100%, 70% 90%, 30% 95%, 0% 90%, 0% 89%, 30% 94%, 70% 89%);
    }

    #left::after {
        clip-path: polygon(100% 96%, 100% 100%, 70% 90%, 30% 95%, 0% 90%, 0% 86%, 30% 91%, 70% 86%);
    }

    #right {
        clip-path: polygon(100% 100%, 100% 0%, 70% 10%, 30% 5%, 0% 10%, 0% 100%);
        padding-top: 14%;
    }

    #right::before {
        width: 100%;
        height: 100%;
        clip-path: polygon(100% 1%, 100% 0%, 70% 10%, 30% 5%, 0% 10%, 0% 11%, 30% 6%, 70% 11%);
        bottom: 0;
    }

    #right::after {
        clip-path: polygon(100% 4%, 100% 0%, 70% 10%, 30% 5%, 0% 10%, 0% 14%, 30% 9%, 70% 14%);
        bottom: 0;
    }

    .fav-games-container {
        margin: 2%;
    }
}